################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Front/.Net Maui/**/.vs
/Front/.Net Maui/**/bin
/Front/.Net Maui/**/obj
/.vs
/Front/TS/src/infrastructure/ui/Angular/.vscode
/Front/TS/src/node_modules
