################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Front/.Net Maui/**/.vs
/Front/.Net Maui/**/bin
/Front/.Net Maui/**/obj
/.vs
