@using BetFriends.Blazor.Components.Layout
@using BetFriends.Blazor.Services
@using BetFriends.Domain.Features.SignIn
@using CommunityToolkit.Mvvm.Messaging
@using Microsoft.AspNetCore.Components.Authorization
@using static BetFriends.Blazor.Components.Pages.Signout
<Router AppAssembly="@GetType().Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData">
                    <Authorizing>
                        Authorizing...
                    </Authorizing>
                    <NotAuthorized>
                        <BetFriends.Blazor.Components.Pages.RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <CascadingAuthenticationState>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p>Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </CascadingAuthenticationState>
            </NotFound>
        </Router>

@inject AuthenticationService authenticationService;
@inject NavigationManager navigationManager;
@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        WeakReferenceMessenger.Default.Register(this, new MessageHandler<object, Authentication>((o, e) =>
        {
            navigationManager.NavigateTo("/");
        }));
        WeakReferenceMessenger.Default.Register(this, new MessageHandler<object, SignOutRequest>((o, e) =>
        {
            navigationManager.NavigateTo("/signin");
        }));
    }
}