@page "/register"
@using BetFriends.Blazor.Components.Layout
@using BetFriends.Blazor.Components.Viewmodels
@inject RegisterViewModel vm
@layout Components.Layout.OfflineLayout
<h2>Créer un compte</h2>

<form method="post" onsubmit="@(async () => await vm.ValidateCommand.ExecuteAsync(null))">
    <Toasts class="p-3" Messages="vm.Errors" AutoHide="true" Delay="2000" Placement="ToastsPlacement.TopRight" />
    <Card>
        <CardHeader>
            Nom d'utilisateur
        </CardHeader>
        <CardBody>
            <InputText @bind-Value="vm.Username" type="text" />
        </CardBody>
    </Card>
    <Card>
        <CardHeader>
            Email
        </CardHeader>
        <CardBody>
            <InputText @bind-Value="vm.Email" type="email" />
        </CardBody>
    </Card>
    <Card>
        <CardHeader>
            Mot de passe
        </CardHeader>
        <CardBody>
            <InputText @bind-Value="vm.Password" type="password" />
        </CardBody>
    </Card>
    <Card>
        <CardHeader>
            Confirmer mot de passe
        </CardHeader>
        <CardBody>
            <InputText @bind-Value="vm.ConfirmPassword" type="password" />
        </CardBody>
    </Card>
    <NavLink href="/signin" class="nav-link">
        Se connecter
    </NavLink>
    <div class="d-grid gap-2" style="margin: 3px 0px; height: 100%; display:flex; align-items: flex-end;">
        <Button Type="ButtonType.Submit"
                Color="ButtonColor.Primary">
            S'inscrire
        </Button>
    </div>
</form>

@code {

}
