<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BetFriends.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bets/new">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Créer un pari
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="friends">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Amis
            </NavLink>
        </div>
    </nav>
</div>
